{% extends 'layout.html' %}
{% block contents %}
    <hr/>
    <H2>Post Detail</H2>
    <table class="table-bordered">
        <h2> {{ post.title }}</h2>
        <p>{{ post.content |linebreaks }}</p>
        <h4>태그: {{ post.tags }}</h4>
        <h4>written by {{ post.author }}</h4>
        <h4>위치: {{ post.lnglat }}</h4>
    </table>
    <hr/>
    <h3>Post Comments</h3>
    {% for comment in comments %}
        <h5>{{ comment.author }}</h5>
        <p>{{ comment.message }}</p>
    {% endfor %}
{% endblock %}